.text-gray {
	color: #718096;
}

.text-icon {
	display: inline-block;
	stroke-width: 0 !important;
	shape-rendering: geometricPrecision;
	fill: currentColor;
	stroke: currentColor;
	vertical-align: middle;
	width: 6em;
	height: 3em;
}

.text-underline {
	text-decoration: underline;
}

.object-fit-cover {
	object-fit: cover !important;
}
